


.speech {
    font-size: 15px;
    font-style: oblique
  }

  
  .song{
    font-size: 25px;
    font-style: italic
  }
  .direction {
    background-color: lightgoldenrodyellow;
    
  }
  .direction:hover{
    color: chartreuse;
    font-size: 15px;
    background-color: red;

  }
  

  .DAM{
    
    font-size : 15px;
    font-style : inherit

  }

  .MEN{
    font-style: oblique;

  }

 .WOM{
    font-style: normal;

 }

 #singers{
    margin-top: 40px;
    margin-left: 60px;
    border: 20px solid palevioletred;
    border-collapse: separate;
    box-sizing: border-box;
  }
  #singers th{
    color: tomato;
    text-align: center;
    padding: 10px;
    border: 15px solid indigo;
  }
  #singers td{
    color: lawngreen;
    text-align: center;
    padding: 5px;
    border: 15px solid fuchsia;
  }
  #singers tr:nth-child(even){
    background-color: crimson;
  }

  .POI{
    font-style: italic;
  }
  .POII:hover{
        color: black;
        background-color:aqua;
        text-shadow: 12px 5px 3px red;
        display: inline;
  }
  .WIL{
    font-style: oblique;
  }
  .WILL:hover{
        color: black;
        background-color: peru;
        text-shadow: 5px 5px 3px red;
        display: inline;
  }